<section class="profile-home">
    <div class="genre">
        <div class="genre__layout">
            <GenreCard
                @title="Pop hits"
                @renderStatus={{this.renderStatus}}
                @type="1"
                @currentFocus={{this.currentFocus}}
                @updateCurrentFocus={{this.updateCurrentFocus}}>
            </GenreCard>
            <GenreCard
                @title="Dance beats"
                @renderStatus={{this.renderStatus}}
                @type="2"
                @currentFocus={{this.currentFocus}}
                @updateCurrentFocus={{this.updateCurrentFocus}}>
            </GenreCard>
            <GenreCard
                @title="Top hits"
                @renderStatus={{this.renderStatus}}
                @type="3"
                @currentFocus={{this.currentFocus}}
                @updateCurrentFocus={{this.updateCurrentFocus}}>
            </GenreCard>
        </div>
        <div class="genre-list__layout">
            <Category
                @title={{this.currentGenre}}
                @songList={{this.songList}}
                @renderStatus={{this.renderStatus}}
                @setRoute={{this.setRoute}}
                @currentFocus={{this.currentFocus}}
            ></Category>
        </div>
    </div>

{{this.favorites}}

</section>
