<nav class="sidebar">

    <Navbar::Logo/>
        <Navbar::Item
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7
            7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1
            0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            @title="home"
            @fill="none"
            @class="h-4 w-4"
            @viewBox="0 0 24 24"
            @stroke="currentColor"
            @isActive={{true}}
            @currentSelected={{this.currentSelected}}
            @activeItem={{this.activeItem}}
            @currentFocus={{this.currentFocus}}
            @currentFocused={{this.currentFocused}}
            @path="home"
            />
            <Navbar::Item
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636
                18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0
                010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z"
                @title="Radio"
                @class="h-6 w-6"
                @fill="none"
                @viewBox="0 0 24 24"
                @stroke="currentColor"
                @currentSelected={{this.currentSelected}}
                @activeItem={{this.activeItem}}
                @currentFocus={{this.currentFocus}}
                @currentFocused={{this.currentFocused}}
                @path="radio"
                />

                <Navbar::Item
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9
                    19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3
                    2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"
                    @title="Library"
                    @class="h-6 w-6"
                    @fill="none"
                    @viewBox="0 0 24 24"
                    @stroke="currentColor"
                    @currentSelected={{this.currentSelected}}
                    @activeItem={{this.activeItem}}
                    @currentFocus={{this.currentFocus}}
                    @currentFocused={{this.currentFocused}}
                    @path="library"
                    />
                    <div class="separator"></div>
                    <div class="heading heading--sm">
                        Discover
                    </div>
                    <Navbar::Item
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8
                        7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2
                        2 0 002 2z"
                        @title="Recent"
                        @class="h-6 w-6"
                        @fill="none"
                        @viewBox="0 0 24 24"
                        @stroke="currentColor"
                        @currentSelected={{this.currentSelected}}
                        @activeItem={{this.activeItem}}
                        @currentFocus={{this.currentFocus}}
                        @currentFocused={{this.currentFocused}}
                        @path="discover.recent"
                        />
                        <Navbar::Item
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0
                            014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42
                            3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946
                            3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0
                            01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42
                            3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946
                            3.42 3.42 0 013.138-3.138z"
                            @title="Top Picks"
                            @class="h-6 w-6"
                            @fill="none"
                            @viewBox="0 0 24 24"
                            @stroke="currentColor"
                            @currentSelected={{this.currentSelected}}
                            @activeItem={{this.activeItem}}
                            @currentFocus={{this.currentFocus}}
                            @currentFocused={{this.currentFocused}}
                            @path="discover.top-picks"
                            />

                            <Navbar::Item
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 10V3L4 14h7v7l9-11h-7z"
                                @title="Daily Mix"
                                @class="h-6 w-6"
                                @fill="none"
                                @viewBox="0 0 24 24"
                                @stroke="currentColor"
                                @currentSelected={{this.currentSelected}}
                                @activeItem={{this.activeItem}}
                                @currentFocus={{this.currentFocus}}
                                @currentFocused={{this.currentFocused}}
                                @path="discover.daily-mix"
                                />
                                <div class="separator"></div>
                                <div class="heading heading--sm">
                                    Your Collection
                                </div>
                                <Navbar::Item
                                    stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12
                                    20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12
                                    7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                                    @title="Favourites"
                                    @class="h-6 w-6"
                                    @fill="none"
                                    @viewBox="0 0 24 24"
                                    @stroke="currentColor"
                                    @currentSelected={{this.currentSelected}}
                                    @activeItem={{this.activeItem}}
                                    @currentFocus={{this.currentFocus}}
                                    @currentFocused={{this.currentFocused}}
                                    @path="collections.favourites"
                                    />
                                    <Navbar::Item
                                        stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17
                                        20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3
                                        0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0
                                        0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016
                                        0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0
                                        014 0z"
                                        @title="Artists"
                                        @class="h-6 w-6"
                                        @fill="none"
                                        @viewBox="0 0 24 24"
                                        @stroke="currentColor"
                                        @currentSelected={{this.currentSelected}}
                                        @activeItem={{this.activeItem}}
                                        @currentFocus={{this.currentFocus}}
                                        @currentFocused={{this.currentFocused}}
                                        @path="collections.artists"
                                        />

                                        <Navbar::Item
                                            stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2
                                            0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0
                                            00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0
                                            012 2v2M7 7h10"
                                            @title="Playlist"
                                            @class="h-6 w-6"
                                            @fill="none"
                                            @viewBox="0 0 24 24"
                                            @stroke="currentColor"
                                            @currentSelected={{this.currentSelected}}
                                            @activeItem={{this.activeItem}}
                                            @currentFocus={{this.currentFocus}}
                                            @currentFocused={{this.currentFocused}}
                                            @path="collections.playlist"
                                            />

                                        </nav>
