<li tabindex="0" class="category__list-item">
    <div class="record__container">
        <div class="record__number">{{@index}}</div>
        <div class="record__cover">
            <img style="width: 4rem;height: 4rem;" class="record__cover--pic"
                src={{@cover}}
                alt={{@title}}>
        </div>
        <button class="record__title record__item--grow" {{on "click" (fn @setRoute @item.id)}}>
                {{@title}}
        </button>
        
        <div class="record__owners record__item--grow">{{@subtitle}}</div>
        <div 
            tabindex="0" 
            class="record__add-fav record__item--grow" 
            {{on "click" this.toggleFav}}
            {{on "keydown" this.handleKeyPress}}
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 record__icon record__icon--fav
                {{if this.favStatus "record__icon--fav-active" }}"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318
                    6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12
                    7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
            </svg>
        </div>
        <div tabindex="0" class="record__settings record__item--grow">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 record__icon
                record__icon--settings" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5
                    12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0
                    012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
            </div>
        </div>
    </li>
